target
.direnv
result
result-lib
default.*
certs/*.pem
certs/*.csr
certs/*.crt
certs/*.key
experiments-results/
*.svg

**/.ipynb_checkpoints/
perf.data
perf.data.old

/experiments/kubespray/inventory/caelum/artifacts/
/experiments/kubespray/contrib/packaging/
/experiments/distributed-bencher/facts_cache
/experiments/clusterloader/results

*.out
*.err

.vscode
*.tar.gz

plots
__pycache__
