/target
.direnv
result
result-lib
default.eckd
default.etcd
default.ecetcd
certs/*.pem
certs/*.csr
certs/*.crt
certs/*.key
experiments-results/
*.svg

**/results/
**/.ipynb_checkpoints/
perf.data
perf.data.old
